<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Update Connection String here -->
    <add name="COMP306_FeedbackEntities" providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost; Initial Catalog=COMP306_Feedback; Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="FeedbackServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceAuthorization />

          <!-- Please set this to false when deploying -->
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True"/>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <ws2007HttpBinding>
        <binding name="TransportLevelSecurityBasicHttpBinding">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    
    <services>
      <service name="COMP306_FeedbackService.FeedbackService" behaviorConfiguration="FeedbackServiceBehavior" >
        <endpoint address="https://localhost/FeedbackService/Service.svc"
                  binding="ws2007HttpBinding" 
                  bindingConfiguration="TransportLevelSecurityBasicHttpBinding" 
                  contract="COMP306_FeedbackService.IFeedbackService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false">
      <serviceActivations>
        <add relativeAddress="Service.svc" service="COMP306_FeedbackService.FeedbackService" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
