<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <!-- Update Connection String here -->
    <add name="COMP306_FeedbackEntities" providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost; Initial Catalog=COMP306_Feedback; Integrated Security=True;" />
  </connectionStrings>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceAuthorization />
          
          <!-- Please set this to false when deploying -->
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True"/>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="TransportLevelSecurityBasicHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="COMP306_FeedbackService.FeedbackService">
        <endpoint address="https://localhost:8000/FeedbackService" binding="basicHttpBinding"
            bindingConfiguration="TransportLevelSecurityBasicHttpBinding"
            contract="COMP306_FeedbackService.IFeedbackService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/FeedbackService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  
</configuration>