<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="FeedbackEntities" connectionString="metadata=res://*/FeedbackEntity.csdl|res://*/FeedbackEntity.ssdl|res://*/FeedbackEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=COMP306_Feedback;user id=fbadmin;password=fbadmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FeedbackServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetUrl="https://localhost/WCFFeedbackService/FeedbackService.svc/mex" httpsGetEnabled="true"  />
          <serviceAuthorization />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <ws2007HttpBinding>
        <binding name="TransportLevelSecurityBasicHttpBinding">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <services>
      <service name="WCFFeedbackService.FeedbackService" behaviorConfiguration="FeedbackServiceBehavior">
        <endpoint address="https://localhost/WCFFeedbackService/FeedbackService.svc" binding="ws2007HttpBinding" bindingConfiguration="TransportLevelSecurityBasicHttpBinding" contract="WCFFeedbackService.IFeedbackService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" minFreeMemoryPercentageToActivateService="1">
      <serviceActivations>
        <add relativeAddress="FeedbackService.svc" service="WCFFeedbackService.FeedbackService" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
 <system.diagnostics>
      <sources>
            <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
              <listeners>
                   <add name="traceListener" />
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging">
              <listeners>
                  <add name="traceListener" />
              </listeners>
            </source>
            <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
              <listeners>
                  <add name="traceListener" />
              </listeners>
            </source>
      </sources>
            <sharedListeners>
               <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog" />
            </sharedListeners>
   </system.diagnostics>
</configuration>